# Binaries for programs and plugins
build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Artifacts
/*.toml
/*.yaml
/*.json
/*.pdf
/*.html
