# Binaries for programs and plugins
build/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Artifacts
/resume.toml
/resume.yaml
/resume.json
/resume.html
/resume.pdf
_changelog.md
.task/
